-
    //- Variables PUG/JS Locales - NIVEL 2
    const dir2 = '../';
    const dirImg = '../assets/img/products/cards/';

include ../../components/mixins

<!doctype html>
<html lang="es">

<head>

    //- Metadata
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    //- Eyelash Title
    <title>Certificados</title>

    //- CSS Styles [ Assets ]
    <link rel="stylesheet" href="#{dir2}assets/css/style.css">



</head>

<body class="slides smoothScroll animated">

    //- Navbar nivel 2
    <nav class="panel top">
        <div class="sections desktop hidden">
            +logo('150', '150')
            <div class="center">
                <ul class="menu">
                    <li><a href="../">Pagina Principal</a></li>
                </ul>
            </div>
            <div class="right">
                +btn('Descargar CV','../assets/files/CarlosUrtubia-CV.pdf','small', 'download="CV_CarlosUrtubia"')
            </div>
        </div>
        //- sidebar
        <div class="sections compact ">
            +logo('100', '100')
            <div class="right">
                <ul class="menu">
                    <li><a href="../">Pagina Principal</a></li>
                </ul>
            </div>
        </div>
    </nav>

    //- certificados
    <section class="slide fade-6 kenBurns" data-title="Slide #75 (75)">
        <div class="content">
            <div class="container margin-top-4">
                <div class="wrap">

                    <div class="fix-8-12 toCenter animate ae-1 fromLeft">
                        <h1 class="smaller margin-bottom-2">Algunos de los cursos que he realizado</h1>
                        <p class="large"><span class="opacity-8">"Nunca pares de estudiar" fue una frase que escuche y causo un gran impacto en mi por lo que llevo 2 años aplicandola</span></p>
                    </div>
                    <div class="fix-12-12 margin-top-4 toCenter">
                        <ul class="flex flex-75 fixedSpaces popupTrigger noText fromRight ae-1" data-popup-id="75-75" style="justify-content: space-evenly">
                            <li class="col-3-12 fadeIn done">
                                <img src="#{dirImg}htmlcarlosurtubia.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="0" data-action="zoom" alt="Image">
                                <img src="#{dirImg}csscarlosurtubia.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="1" data-action="zoom" alt="Image">
                            </li>
                            <li class="col-3-12 fadeIn done">
                                <img src="#{dirImg}curso-css.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="2" data-action="zoom" alt="Image">
                            </li>
                            <li class="col-3-12 fadeIn done">
                                <img src="#{dirImg}jscarlosurtubia.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="3" data-action="zoom" alt="Image">
                                <img src="#{dirImg}domcarlosurtubia.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="4" data-action="zoom" alt="Image">
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="background" style="background-image:url(#{dir2}assets/img/categories/backgrounds/biblioteca2.jpg)"></div>
    </section>

    //- Jquery [ Plugins ]
    <script type="text/javascript" src="#{dir2}assets/js/jquery.js" defer></script>

    //- Slide 5.2.0
    <script type="text/javascript" src="#{dir2}assets/js/slides.js" defer></script>

    //- Plugins
    <script type="text/javascript" src="#{dir2}assets/js/plugins.js" defer></script>

    //- Global Functions JS [ Scripts ]
    <script type="text/javascript" src="#{dir2}assets/js/global.js" defer></script>
    //- libreria de iconos
    include ../../includes/svg_libraries.pug
</body>