-
    //- Variables PUG/JS Locales - NIVEL 2
    const dir2 = '../';
    const dirBackground = '../assets/img/categories/backgrounds/';
include ../../components/mixins
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Sobre mi</title>
</head>
<body class="slides animated" >

//- Navbar nivel 2
<nav class="panel top">
    <div class="sections desktop hidden">
        +logo('150', '150')
        <div class="center">
            <ul class="menu">
                <li><a href="../">Pagína principal</a></li>
            </ul>
        </div>
        <div class="right">
            +btn('Descargar CV','../assets/files/CarlosUrtubia-CV.pdf','small', 'download="CV_CarlosUrtubia"')
        </div>
    </div>

    //- Seccion mobil
    <div class="sections compact ">
        +logo('100', '100')
        <div class="right">
            <ul class="menu">
                <li><a href="../">Pagina Principal</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="slide fade-6 kenBurns animate " data-title="Slide #58 (58)">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-12-12 left">
                    <h1 class="margin-bottom-2 ae-2">Carlos Urtubia</h1>
                    <p class="larger light ae-3"><span class="opacity-8">Actualmente me dedico al area de la minería con mas de 10 años de experiencia en el rubro, pero mi meta es dedicarme al area de las Tecnologías, desde pequeño siempre me gustaron los computadores pero no tenía idea
                        de todo el potencial que les podia sacar hasta cuando conoci la programación y se abrío un nuevo mundo para mi, soy una persona muy competitiva por lo que me paso el tiempo estudiando.</span></p>
                        <h2 class="smallest margin-top-4 margin-bottom-2 ae-4">Algunas areas a las que le estoy dedicando tiempo de estudio</h2>
                        <ul class="left">
                            <li class="ae-4">Ingles</li>
                            <li class="ae-5">Bases de datos</li>
                            <li class="ae-6">Programación</li>
                            <li class="ae-7">Desarrollo Web</li>
                            <li class="ae-8">Administración de Servidores</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{dirBackground}my.jpg)"></div>
</section>

//- Jquery [ Plugins ]
<script type="text/javascript" src="#{dir2}assets/js/jquery.js" defer></script>

//- Slide 5.2.0
<script type="text/javascript" src="#{dir2}assets/js/slides.js" defer></script>

//- Plugins
<script type="text/javascript" src="#{dir2}assets/js/plugins.js" defer></script>

//- Global Functions JS [ Scripts ]
<script type="text/javascript" src="#{dir2}assets/js/global.js" defer></script>
//- libreria de iconos
include ../../includes/svg_libraries.pug
</body>
</html>