-
    //- Variables PUG/JS Locales - NIVEL 2
    const dir2 = '../';
    const dirBackground = '../assets/img/categories/backgrounds/';
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Sobre mi</title>
</head>
<body class="slides animated" >

<section class="slide fade-6 kenBurns animate" data-title="Slide #58 (58)">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-12-12 left">
                    <h1 class="margin-bottom-2 ae-2">Terms &amp; Conditions</h1>
                    <p class="larger light ae-3"><span class="opacity-8">Please read these Terms and Conditions (“Terms”, “Terms and Conditions”) carefully before using the http://designmodo.com website (the “Service”) operated by Designmodo Inc. (“us”, “we”, or “our”). Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</span></p>

                    <h2 class="smallest margin-top-4 margin-bottom-2 ae-4">Communications</h2>
                    <p class="ae-4"><span class="opacity-8">By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</span></p>

                    <h2 class="smallest margin-top-4 margin-bottom-2 ae-6">Purchases</h2>
                    <p class="ae-6"><span class="opacity-8">If you wish to purchase any product or service made available through the Service (“Purchase”), you may be asked to supply certain information relevant to your Purchase including, without limitation, your credit card number, the expiration date of your credit card, your billing address, and your shipping information.</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{dirBackground}my.jpg)"></div>
</section>

//- Jquery [ Plugins ]
<script type="text/javascript" src="#{dir2}assets/js/jquery.js" defer></script>

//- Slide 5.2.0
<script type="text/javascript" src="#{dir2}assets/js/slides.js" defer></script>

//- Plugins
<script type="text/javascript" src="#{dir2}assets/js/plugins.js" defer></script>

//- Global Functions JS [ Scripts ]
<script type="text/javascript" src="#{dir2}assets/js/global.js" defer></script>
//- libreria de iconos
include ../../includes/svg_libraries.pug
</body>
</html>